@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: #12ca5f;
  color: white;
}

/*Start Navbar */
.navbar {
  overflow: hidden;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  height: 55px;
  top: 0;
}

.navbar .logo a {
  font-family: "Pacifico";
  font-size: 35px;
  color: #ff8c00 !important;
  padding: 1px 20px;
  margin: -10px;
}

.navbar a {
  float: left;
  display: block;
  font-size: 15px;
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
  position: relative;
}

.navbar .nav-left a:hover {
  background-color: #fff;
}

.navbar .nav-left a:hover:before {
  width: 100%;
}

.navbar .nav-left a:before {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #ff8c00;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}
/*Search*/
.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.search-txt{
  border:none;
  background:none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 530px;
}

.navbar .nav-right a.right {
  float: right;
}

.navbar .nav-right a.right:hover {
  color: #ff8c00;
}

#write-now {
  border: 1px solid #ff8c00;
  transition: border-radius 0.3s;
  float: right;
  padding: 8px 20px;
  margin: 11px 0px;
  color: #ff8c00;
}

#write-now:hover {
  border-radius: 30px;
}
/*End Navbar */

/*Slider*/
.slidershow {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.navigation {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: #fff;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide a{
  position: absolute;
  bottom: 15%;
  left: 35%;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: #fff;
}
.slide a:hover{
  color: #ff8c00;
}
.slide img {
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

#r4:checked ~ .s1 {
  margin-left: -60%;
}

#r5:checked ~ .s1 {
  margin-left: -80%;
}

/*Footer*/
.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo-footer {
  width: 180px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.right-col h1 {
  font-size: 26px;
  margin: 5px 0px;
}

.border {
  width: 100px;
  height: 4px;
  background: #fc5c65;
}

.rights-text {
  margin: 20px 0px;
}
.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}

.footer-copyright {
  text-align: center;
  background-color: rgb(236, 236, 236);
  color: rgb(34, 34, 34);
  padding: 10px 0px;
}

.footer-copyright a {
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 400;
}
